.landing{
    align-items: center;
    background-color: rgb(245, 11, 11);
    background-image: url('../../resources/banner-transformed.png');
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;

}