:root {
    --nav--background--color: #282c34;
    --background--color: rgb(0, 0, 0);
    --text--color: rgb(255, 145, 0);
    --button--background--color: #343a40;
    --button--background--color--disabled: #4d565f;
    --button--background--color--hover: #474747;
    --input--background--color:#ffff
  }
  